body {
    font: 12px sans-serif;
}

#root {
    max-width: 1200px;
    margin: 0 auto;
    display: inline-block;
}

#chart {
    display: inline-block;
}

#chart-message {
    min-width: 10px;
    height: 14px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#active-wrapper,
#available-wrapper {
    height: 300px;
    overflow-y: scroll;
    display: inline-block;
}

#available-wrapper {
    padding-right: 20px;
}

#page-indicators {
    display: flex;
    justify-content: space-around;
}

#page-indicators .item {
    cursor: pointer;
}

.hidden {
    display: none;
}

.color-box {
    width: 17px;
    height: 17px;
    border: 1px solid gray;
    margin-left: 5px;
    margin-bottom: -5px;
    display: inline-block;
}

.form-field {
    margin-top: 5px;
    display: block;
}

.form-field div,
.form-field input {
    display: inline-block;
}

.form-field div.label {
    width: 40px;
}

.form-field .color-box {
    display: inline-block;
}

.column {
    display: inline-block;
}

.trade-entry:hover {
    cursor: pointer;
    color: blue;
}

#trade-form {
    border: 1px solid gray;
    background-color: white;
    width: 160px;
    position: absolute;
    top: 100px;
    left: 10px;
    z-index: 5;
    padding: 5px;
}

#trade-form button {
    outline: none;
}

#trade-form button:hover {
    background-color: blue;
    color: white;
}

.short-input {
    width: 60px;
}

button.active {
    background-color: blue;
    color: white;
    outline: none;
}

.ml5 {
    margin-left: 5px;
}

#toast {
    display: none;
    width: 300px;
    height: 50px;
    background-color: white;
    border: 1px solid gray;
    position: fixed;
    z-index: 15;
    top: 100px;
    left: 20px;
    padding: 5px;
}

#toast-message {
    width: 270px;
    font-size: 14px;
    display: inline-block;
}

#btn-toast-close {
    float: right;
    border: none;
}

#btn-toast-close:hover {
    background-color: #c55;
    color: white;
}

