body {
    font: 12px sans-serif;
}

#root {
    max-width: 1200px;
    margin: 0 auto;
    display: inline-block;
}

#chart {
    display: inline-block;
}

#chart-message {
    min-width: 10px;
    height: 14px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#active-wrapper,
#available-wrapper {
    height: 300px;
    overflow-y: scroll;
    display: inline-block;
}

#available-wrapper {
    padding-right: 20px;
}

#page-indicators {
    display: flex;
    justify-content: space-around;
}

#page-indicators .item {
    cursor: pointer;
}

.hidden {
    display: none;
}

.color-box {
    width: 17px;
    height: 17px;
    border: 1px solid gray;
    margin-left: 5px;
    margin-bottom: -5px;
    display: inline-block;
}

.form-field {
    margin-top: 5px;
}

.form-field input {
    margin-left: 10px;
}

.form-field .color-box {
    display: inline-block;
}

.column {
    display: inline-block;
}

.trade-entry:hover {
    cursor: pointer;
    color: blue;
}

