body {
    font: 12px sans-serif;
}

#root {
    max-width: 1200px;
    margin: 0 auto;
    display: inline-block;
}

#chart {
    display: inline-block;
}

#chart-message {
    min-width: 10px;
    height: 14px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#active-wrapper,
#available-wrapper {
    height: 100px;
    overflow-y: scroll;
    display: inline-block;
}

#available-wrapper {
    padding-right: 20px;
}

